<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>营养早餐</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="${base}/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="${base}/sui-mobile/dist/css/sm.min.css">
    <link rel="stylesheet" href="${base}/sui-mobile/dist/css/sm-extend.min.css">

  </head>
  <body>
    <div class="page-group">
      <div class="page page-current">
        <!-- 你的html代码 -->
        <header class="bar bar-nav">
            <h1 class="title">新品</h1>
        </header>
        <div class="content">
          <!-- 下面是正文 -->
          <div class="content-block-title">营养玉米</div>
          <div class="card demo-card-header-pic">
              <div valign="bottom" class="card-header color-white no-border no-padding">
                <img class='card-cover' src="${base}/upload/corn.jpg" alt="">
              </div>
              <div class="card-content">
                <div class="card-content-inner">
                  <p class="color-gray">发表于 2015/01/15</p>
                  <p>此处是内容...</p>
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="link">赞</a>
                <a href="${base}/detail" class="link">更多</a>
              </div>
          </div>
          <div class="content-block-title">粽子</div>
          <div class="card demo-card-header-pic">
              <div valign="bottom" class="card-header color-white no-border no-padding">
                <img class='card-cover' src="${base}/upload/ricedumplings.jpg" alt="">
              </div>
              <div class="card-content">
                <div class="card-content-inner">
                  <p class="color-gray">发表于 2015/01/15</p>
                  <p>此处是内容...</p>
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="link">赞</a>
                <a href="#" class="link">更多</a>
              </div>
          </div>
          <div class="content-block-title">蒸饺子</div>
          <div class="card demo-card-header-pic">
              <div valign="bottom" class="card-header color-white no-border no-padding">
                <img class='card-cover' src="${base}/upload/dumplings.jpg" alt="">
              </div>
              <div class="card-content">
                <div class="card-content-inner">
                  <p class="color-gray">发表于 2015/01/15</p>
                  <p>此处是内容...</p>
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="link">赞</a>
                <a href="#" class="link">更多</a>
              </div>
          </div>
          <div class="content-block-title">蒸包子</div>
          <div class="card demo-card-header-pic">
              <div valign="bottom" class="card-header color-white no-border no-padding">
                <img class='card-cover' src="${base}/upload/bread.jpg" alt="">
              </div>
              <div class="card-content">
                <div class="card-content-inner">
                  <p class="color-gray">发表于 2015/01/15</p>
                  <p>此处是内容...</p>
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="link">赞</a>
                <a href="#" class="link">更多</a>
              </div>
          </div>
          <div class="content-block-title">营养豆浆</div>
          <div class="card demo-card-header-pic">
              <div valign="bottom" class="card-header color-white no-border no-padding">
                <img class='card-cover' src="${base}/upload/bean_milk.jpg" alt="">
              </div>
              <div class="card-content">
                <div class="card-content-inner">
                  <p class="color-gray">发表于 2015/01/15</p>
                  <p>此处是内容...</p>
                </div>
              </div>
              <div class="card-footer">
                <a href="#" class="link">赞</a>
                <a href="#" class="link">更多</a>
              </div>
          </div>
        </div>
      </div>
    </div>

    <script type='text/javascript' src='${base}/sui-mobile/dist/js/jquery.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='${base}/sui-mobile/dist/js/sm.js' charset='utf-8'></script>
    <script type='text/javascript' src='${base}/sui-mobile/dist/js/sm-extend.js' charset='utf-8'></script>

  </body>
</html>